__pycache__
__pypackages__
logs/
*.pyc
*.pyo
*.pyd
*,cover
*.log
.Python
.venv
.env
.env.prod
.env.dev
.vscode
.idea
.pytest_cache
.tox
.coverage
.cache
.git*
tests
scripts
postman
./postgres-data
./dumps