services:
  db:
    image: postgres:15.0
    container_name: db
    restart: unless-stopped
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data/
      - ./dumps:/dumps    # монтируем локальную папку для дампов
    environment:
       - TZ=Europe/Kyiv
    env_file:
      - .env

  app:
    build: .
    container_name: app
    restart: unless-stopped
    ports:
      - "${APP_PORT:-8000}:${APP_PORT:-8000}"
    depends_on:
      - db
    volumes:
      - .:/app
    environment:
       - TZ=Europe/Kyiv
    env_file:
      - .env
    command: sh -c "alembic upgrade head && uvicorn app.main:app --host 0.0.0.0 --port ${APP_PORT:-8000}"

volumes:
  postgres_data:
